DEBUG=TRUE
ALLOWED_HOSTS=localhost, 127.0.0.1
DJANGO_SECRET_KEY="secret-key-placeholder"

POSTGRES_HOST=db
POSTGRES_DB=hatch_messaging
POSTGRES_USER=hatch_user
POSTGRES_PASSWORD="password-placeholder"
POSTGRES_PORT=5432

CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0
DJANGO_ALLOWED_HOSTS=${ALLOWED_HOSTS}